body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}


/*-----------------------------------*/
header{
    background-color: #F8F8F8;
    padding: 5em 17.5%;
}
@media screen and (max-width:860px) {
    header{
        padding: 2em 10%;
    }
}
/*-----------------------------------*/


/*-----------------------------------*/
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:860px) {

    .container{
        flex-direction: column;
    }
}
/*-----------------------------------*/



.site-title{
    width: fit-content;
    margin: 0 ;
}

.site-title > h1{
    font-family: 'Lora', serif;
    font-size: 2 rem;
    margin: 0;
    font-weight: 400;

}
.subtitle{
    font-size: 0.75rem;
    width: fit-content;
    margin: 0 auto;
    color: #1792D2;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
}


/*-----------------------------------*/
ul {
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 1 rem;
    justify-content: center;
    margin: 20px 0 auto;
    font-weight: 700;
    color: #707070;
}
@media screen and (max-width:860px) {
    ul { 
        flex-direction: column;
        text-align: center;
    }
}
/*-----------------------------------*/


/*-----------------------------------*/
li > a{
    color: inherit;
    margin-left: 40px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
li > a:hover{
    border-bottom: #707070 1px solid;
}
@media screen and (max-width:860px) {
    li > a{
        margin: 0;
    }
}
/*-----------------------------------*/


@media screen and (max-width:860px) {
    li{ 
        margin: 10px;
    }
}



/*
----------------------------------- Mid Section -----------------------------------
*/

.MidSection{
    width: 65%;
    overflow: hidden;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
}

.MidLeft{
    width: 70%;
}

.MidRight{
    width: 26%;
}
.HeroImage{
    width: 100%;
    object-fit: cover;
    height: 400px;
}

p{
    color: #707070;
    margin: 1rem 0 1rem 0;
}

.Comments{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
    font-size: 0.75rem;
}

.TextBelow{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    border-bottom: #707070 solid 3px;
}

.findingSimplicity{
    font-weight: 700;
    font-family: 'Lora';
    font-size: 1.5rem;
    color: #143774;
    margin-top: 0;
    
}

.para{
    margin-top: 0;
}

.bold{
    font-weight: 700;
}

.Reading{
    text-transform: uppercase;
    color: #1792D2;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}



.TextSection1, .TextSection2 , .TextSection3{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.image{
    width: 30%;
    
}

.boxImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.description{
    width: 65%;
    display: flex;
    flex-direction: column;
}


footer{
    background: #143774;
    height: 50px;
    padding: 20px 0;
    text-align: center;
    color: white;
    overflow:hidden;
    font-family: 'Ubuntu';
}